@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");

/*html {
  font-size: 62.5%; 
}*/

body {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #849324;
  height: 100vh;
}

.stuff{
display: flex;
flex-direction: column;
flex-wrap: wrap;
border-style: groove;
border-color:#032B43;
border-radius: 5px;

}

.lil{
    padding-right:15px;
    background-color: #709C8B;
}
#clock {
    max-width: 800px;
    color: #A8DCD1;
    font-weight: 600;
 /*   font-size: 5rem;*/
}

#date{
    color: #032B43;
    margin-left:1vw;
    font-weight: 600;
  /*  font-size: 5rem;*/
}
/* for smaller screens below 700px */
@media only screen and (max-width: 700px) {
  body {font-size: 1.8rem;}
}

/*for smaller screens below 300px*/
@media only screen and (max-width: 300px) {
  body {font-size: 1.6rem; font-weight: 400;}
}


/* Buttons
.butts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.butts > button {
    font-size:1rem;
    margin-right:10px;
    background-color:#474747;
    color:#BBE1BE;
    border-radius: 5px;
    border-style:none;
    padding: 10px 10px 10px 10px;
}
*/

#stopwatch {
    padding-top: 1vw;
    background-color:#247B7B;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #CCE8CC;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}
#stopwatch button{
    transition: .3s;
    font-size: 18px;
    border: none;
    background-color:#849324;
    color: white;
    border-radius: 2px;
    width: 80px;
    height: 20px;
    justify-content: space-around;
}
#stopwatch span{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#timer{
background-color: #98A886;
padding-bottom:1vw;
text-align: center;
}

.timer-butt{
    transition: .3s;
    font-size: 18px;
    border: none;
    background-color:#849324;
    color: white;
    border-radius: 2px;
    margin-left:10px;
    margin-right:10px;
 }


/*ANIMATIONS*/
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  z-index: 4;
}

/* DESKTOP ARRANNGEMENT */
@media only screen and (min-width: 720px) {
  .stuff{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    padding-top:60px;
    padding-bottom: 60px;
    border-style: none;
    gap: 30px;
  }

  .lil{
    padding-top:60px
  }

  .timer{
    justify-content: center;
    text-align:center;
    align-items: center;
  }
 
 /*  #clock, #date{
    font-size: 2.5 rem;
  } */
} 


@media only screen and (max-width: 450px) {
  #clock, #date {
    font-size: 5rem;
  }
}