@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



 /* The side navigation menu */
 .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    background: #F8F8F8;
    border: 1px solid #000000;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link 
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
 */

  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    font-family: 'Roboto';
    font-style: normal;
    margin-left: 250px;
    padding-top: 50px;
    /*padding: 1px 16px;*/
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  
  .sidebar > h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  .sblocky{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    border: 1px solid #000000;
  }


@media screen and (max-width: 400px) {
  div.content{
    padding: 1px 16px; 
  }
}

.row{
    padding-bottom: 50px;
}
.greybg{
    padding-left:249px;
    padding-right:20%;
    width: 1070px;
    height: 102px;
    left: 249px;
    top: 949px;
    background: #EBEBEB;
}

