body{
    background-color: #ABC4A1;
}

.btn-primary{
    background-color: #4B5842;
}


.calculator {
    padding-top:35%;
}

.display-box{
    background-color: #D4E79E;
}

.big-display{
    background-color: #ABC4A1; 
    color: whitesmoke;
    padding-left: 10%;
    font-size:10rem;
    border: 0;
}
@media (min-width: 700px) {
    .btn-lg{
       
    }
}
@media (max-width: 415px) {
    .calculator{
        padding-top:55%;
    }
    .big-display{
        width:350px;
        height: 250px;
        padding-top:45%;
        padding-left: 5%;
        font-size: 5rem;
    }
}