
.parent{
    display: flex;
    width:100vw;
    flex-flow: column nowrap;
}

.child{
    order:1;
}

.first{
    /*width: 100vw;*/
    height: 100vh;
    /*left: 0px;
    top: 0px;*/
    background-image: url("assets/unsplash__RBcxo9AU-U.png");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top{
    /*position: absolute;*/
    justify-content: center;
    width: 678px;
    height: 126px;
    left: 381px;
    top: 454px;
    
    background: #313534;
}

.textongrey{
    /*justify-content: center;*/
    /*align-items: center;*/
    /*width: 587px;*/
    /*height: 77px;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 77px;
    background: rgba(49, 53, 52);
    /* identical to box height */
    
    color: #F7ECE5;
    
}    
/*-------------------------------------------------------------------------------------------- */
.parent .sec1{
    /*position:absolute;*/
    /*width: auto;*/
    /*height: 30vh;*/
    left: 0px;
    /*top: 900px;*/
    background: #F4F4F4;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#sec1h{
    /*position: absolute;*/
    left:50%;
    /*width: auto;*/
    height: 39px;
    justify-content:right;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;    
    color: #666666;
    
    
    /* Inside auto layout */

    /*order: 0;
    flex-grow: 0;*/
}

#sec1b{
   /* position: absolute;*/
    /*width: auto;
    height: auto;*/
    /*height: 156px;*/
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    
    text-align: center;
    justify-content: center;
    letter-spacing: 0.05em;
    color: #666666;
    
    
    /* Inside auto layout 
    flex: none;
    order: 1;
    flex-grow: 0; */
}

/*-------------------------------------------------------------------------------------------- */
.sec2{
    position: relative;
    height: 80vh;
    background: url(assets/SECTION\ 2.png);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec2container{
    left: 2px;
    top: 450px;
    background: #313534;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#sec2h{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 58px;
    color: #FFFFFF; 
}

#sec2b{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

/*#expnbg{
    /*position: relative;
    width: 678px;
    height: 126px;
    left: 35%;
    top: 25%;
    
    background: rgba(49, 53, 52, 0.2);
} */
#expn{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    color: #F7ECE5;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: rgba(49, 53, 52, 0.2);
}
/*-------------------------------------------------------------------------------------------- */
.sec3{
    position: relative;
    width: 100vw;
    height:75vh;

    background: url(assets/SECTION\ THREE.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#ldin{
    position: absolute;
    /*width: 807px;
    height: 77px;*/
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;

    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    /* identical to box height */
    background: rgba(49, 53, 52, 0.2);
    color: #F7ECE5;    
}

.parent .sec3container{
    background: #313534;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#sec3h{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 58px;
    color: #FFFFFF;
}

#sec3b{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

/*-------------------------------------------------------------------------------------------- */
.last{
    height: 100vh;
    position: relative;
    background: url(assets/LAST\ SECTION.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#dscbg{
    width: 28vw;
    height: 9vh;
    left: 690px;
    top: 345px;
    background: #313534;
}
#dsc{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 58px;
    color: #F7ECE5;
    background: #313534;
}
