body{
    display: flex;
    justify-content: center;
} 

.parent{
    position:relative;

}

.first{
    width: 100vw;
    height: 75vh;
    left: 0px;
    top: 0px;
    background-image: url("assets/unsplash__RBcxo9AU-U.png");
    position: absolute;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.top{
    position: absolute;
    width: 678px;
    height: 126px;
    left: 381px;
    top: 454px;
    
    background: #313534;
}

#textongrey{
    position: absolute;
    width: 587px;
    height: 77px;
    left: 429px;
    top: 479px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 77px;
    
    /* identical to box height */
    
    color: #F7ECE5;
    
}    
/*-------------------------------------------------------------------------------------------- */
.sec1{
    position: absolute;
    width: 100vw;
    height: 35vh;
    left: 0px;
    top: 900px;
    background: #F4F4F4;
}

#sec1h{
    width: 321px;
    height: 39px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: flex-end;
    
    color: #666666;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#sec1b{
    width: 1126px;
    height: 156px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.05em;
    
    color: #666666;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/*-------------------------------------------------------------------------------------------- */
.sec2{
    position: absolute;
    width: 100vw;
    height: 80vh;
    left: 0px;
    top: 1249px;
    background: url(assets/SECTION\ 2.png);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec2container{
    position: absolute;
    width: 1440px;
    height: 350px;
    left: 2px;
    top: 450px;
    
    background: #313534;
}
#sec2h{
    width: 327px;
    height: 66px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    
    
}

#sec2b{
    width: 1126px;
    height: 150px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    /* or 161% */
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
/*-------------------------------------------------------------------------------------------- */
.sec3{
    position: absolute;
    width: 100%;
    height: 75vh;
    left: 0px;
    top: 2049px;
    background: url(assets/SECTION\ 3.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec3container{
    position: relative;
    width: 1440px;
    height: 350px;
    left: 11px;
    top: 450px;
    background: #313534;
}
#sec3h{
    width: 366px;
    height: 66px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#sec3b{
    width: 100vw;
    height: 156px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.05em;
    left:25%;
    right:25%;
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
/*-------------------------------------------------------------------------------------------- */
.last{
    position: absolute;
    width: 100vw;
    height: 75vh;
    left: 0px;
    top: 2849px;
    
    background: url(assets/LAST\ SECTION.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#dscbg{
    position: relative;
    width: 28vw;
    height: 9vh;
    left: 690px;
    top: 345px;
    background: #313534;
}
#dsc{
    position: absolute;
    width: 25vw;
    height: 7vh;
    left: 45px;
    top: 20px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;
    
    /* identical to box height */
 
    color: #F7ECE5;
    
    
}