@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.container{
    /*padding-left: 94px;
    padding-right: 94px;*/
    font-family: 'Inter';
    font-style: normal;
}

/*@media (max-width: 415px){
    .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    }
} */
.bg-light{
    background: #FFFFFF;
}

@media (max-width: 415px){
    .navbar{
        text-align:right;
    }
}
@media (max-width: 415px){
    .navbar-nav{
        text-align:center;
    }
}
@media (min-width: 800px){
 .navbar-nav {
            margin-left: auto;
        }
    }
        /*================================= POST =====================================
.posthead{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;

/* 800 */
color: #2D3748;
}
.postdes{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

/* 600 */
color: #718096;
}
.postdate{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

/* identical to box height */

/* 600 */
color: #718096;
}
.postmore{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;

/* identical to box height */

/* 800 */
color: #2D3748;
}
/*=========================================================================*/

.card{
width: 22rem;
box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
border-radius: 5px;
margin-left:34px;
margin-right:34px;

}

@media (max-width: 415px){
.thumbnail{
    height:auto;
    width: auto;
    background-size: cover;
}
.card{
    margin-top: 10px;
    margin-left:0px;
    margin-right: 0px;
   /* padding-left: 0px;
    padding-right: 0px*/
    /*margin-bottom: 10px;*/
}
}

.thumbnail{
  width:300px;
  height: 179px;
  background-size: cover;
}

/*=========================================================================*/
.div1{
    padding-top: 103px;
}

.div2{
    padding-top:94px;
}

.div3{
    padding-top:43px;
}
/*=========================================================================*/
.lastdiv{
    padding-top:43px;
    background: #F7FAFC;
    /*background-size: cover; */
}

@media (max-width: 415px){
.lastdiv > img{
    padding-top: 35px; 
}
}

.booton{
  background: #6B46C1;
  border-radius: 5px;
  margin-left: 60vw;
  margin-top: 10px;
}


.postauthor{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;

/* 800 */
color: #2D3748;
}

@media (min-width: 800px){
.soyimg{
    width:788px;
    height: 369px;
    background-size: cover;
}

.footersty{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
}

.footersty > p{
    padding-left: 93px;
}

.footersty > a{
    color: #454444;
}

/*@media (max-width: 415px){
    .footersty{
        padding-left: 30px;
    }
}*/
.soize{
    width: 765px;
}

@media (min-width: 800px){
.postz{
    padding-left:15%;
    }